@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  
}
.bg{
    margin-top: 8px;
   margin-left: 100px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./assets/master.png');
}


.scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
  .login-page2 {
    --login-bg: #363e47;
    --login-color: #333;
    --login-inner-bg: #d9d9d9;
    --login-logo: #333;
    --login-btn: #fff;
    --login-btn-linear-gradient: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    --login-input: #333;
    --login-input-border: #adadad;
    --login-input-placeholder: #5d5d5d;
    --login-input-border-valid: red;
    --login-input-linear-gradient: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    --login-input-border-bg: #6a7dfe;
  }
  